language: c

os:
  - linux

sudo: false

branches:
  only:
  - master

env:
  global:
    - PYTHON_VERSION=3.5

install:
  - git clone git://github.com/astropy/ci-helpers.git
  - source ci-helpers/travis/setup_conda_$TRAVIS_OS_NAME.sh
  - conda env create -f environment.yml
  - source activate nikola


script:
  - nikola build
  - nikola check -l -f

after_success:
  - bash .travis-deploy.sh
