html {
    font-family: "Source Sans Pro";
    background-color: #212121;
    width: 100%;
}

body {
    font-family: "Source Sans Pro";
    background-color: #212121;
    color: #f4f4f4;
    text-align: center;
    font-size: 24px;
    width: 100%;
}

.body-content {
    font-size: 16px;
    width: 800px;
    max-width: 90%;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
}

footer {
    font-size: 12px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1.1;
}

.h1, .h2, h1, h2 {
    text-align: center;
}

h1 a {
    color: inherit;
}

.navbar-brand img {
    width: 125px;
}

ul.navbar-nav {
    margin: 7.5px 15px 7.5px 15px;
}

.navbar-nav > li {
    height: 83px;
    display: block;
    line-height: 83px;
}

.navbar-inverse .navbar-nav > li > a {
    display: block;
    line-height: 53px;
    color: #f4f4f4;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: inherit;
    color: inherit;
}

.navbar-inverse .navbar-nav > li > a::after {
    display:block;
    content:attr(data-text);
    font-weight:bold;
    height:1px;
    color:transparent;
    overflow:hidden;
    visibility:hidden;
    margin-bottom:-1px;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    background-color: transparent;
    color: inherit;
    font-weight: bold;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    background-color: inherit;
    color: inherit;
}

.dropdown-menu {
    background-clip: padding-box;
    background-color: #212121;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: none;
    float: left;
    font-size: 14px;
    left: 0;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px 0;
    position: absolute;
    text-align: left;
    top: 100%;
    z-index: 1000;
}

.dropdown-menu > li > a::after {
    display:block;
    content:attr(data-text);
    font-size: 24px;
    font-weight:bold;
    height:1px;
    color:transparent;
    overflow:hidden;
    visibility:hidden;
    margin-bottom:-1px;
}

.dropdown-menu > li > a {
  clear: both;
  color: inherit;
  font-weight: inherit;
  font-size: 20px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 0px none;
}

img.align-center {
    padding-bottom: 15px;
}

div.row {
    width: 100%;
}
#footer {
    position : fixed;
    bottom : 0;
    height : 20px;
    margin-top : 20px;
    background-color: #212121;
    width: 650px;
    text-align: justify;
    text-justify: inter-word;
}


#footer > div.left {
    float: left;
    width: 280px;
}

#footer > div.centre {
    display: inline-block;
    width: 100px;
}

#footer > div.right {
    float: right;
    width: 200px;
    text-align: right;
}

/* Add a bit of padding around sponsor logos */

.sponsor-logo {
    display: block;
    margin: 30px auto 30px auto;
}

/* Copied */

h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

h3 {
    font-size: 24px;
    font-style: italic;
}

.small {
    font-size: 12px;
    font-style: italic;
}

.header {
    font-size: 16px;
}

a {
    color: #fef2aa;
}

.apply {
    font-size: 20px;
    text-align: center;
}

.center {
    text-align: center;
}

.required.email {
    background-color: #ffffff;
}

td.day {
    font-weight: bold;
    font-size: 18px;
    padding-top: 20px;
}

.program {
    font-size: 14px;
    width: 800px;
    max-width: 90%;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
}

tr.break {
    color: #919191;
}

td.title {
    font-style: italic;
}

tr {
    vertical-align: top;
}

.chair {
    font-style: italic;
}
